.blockquote-custom {
    position: relative;
    font-size: 1.1rem;
    padding: 30px;
}

.blockquote-custom-icon h5 {
    margin-top: 8px;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

/* bg-green */
.bg-green {
    background-color: #9DDE8B;
}

.bg-green img {
    width: 120px;
}

.bg-green h1 {
    font-size: 60px;
}

.bg-green h2 {
    font-size: 30px;
    font-weight: 700;
}

.bg-green p {
    font-weight: 500;
    font-size: 14px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    height: 80%;
}

.bg-green a {
    text-decoration: none;
    font-weight: 200;
}

.bg-green .blockquote-custom-icon {
    background-color: #40A578;
    width: 150px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -15px;
    right: 50px;
}

/* bg-yellow */
.bg-yellow {
    background-color: #ffee00;
    margin-top: 33px;
}

.bg-yellow .blockquote-custom-icon {
    background-color: #c7ba00;
    width: 200px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -15px;
    left: 50px;
}

.bg-yellow img {
    width: 120px;
}

.bg-yellow h6 {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 0;
}

.bg-yellow a {
    text-decoration: none;
    font-size: 12px;
}

.bg-yellow .card {
    background-color: #7AB2B2;
    padding: 20px;
    border-radius: 30px;
}

.bg-yellow p {
    font-size: 10px;
    background-color:white;
    border-radius: 30px;
    padding: 3px 15px;
}

.bg-yellow h4 {
    font-weight: 500;
    font-size: 12px;
}

.bg-yellow .check, .bg-yellow .cross{
    width: 20px;
    margin-top: -13px;
}

.bg-yellow .status h3 {
    background-color: #1d7533;
    color: white;
    font-size: 14px;
    border-radius: 30px;
    padding: 3px 15px;
    text-align: center;
}

.bg-yellow .yellow-notif p {
    font-weight: 500;
    font-size: 14px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.bg-yellow .yellow-notif a {
    text-decoration: none;
    font-weight: 200;
    font-size: 14px;
}

/* bg-grey */
.bg-grey {
    background-color: #524C42;
    margin-top: 33px;
}

.bg-grey .blockquote-custom-icon {
    background-color: #000000;
    width: 200px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
}

.bg-grey .sub .row {
    background-color: white;
    border-radius: 30px;
    margin: 0px 1px;
}

.bg-grey .sub p {
    font-size: 14px;
    margin-bottom: 8px;
    margin-top: 6px;
}

.bg-grey .check, .bg-grey .cross{
    width: 20px;
    /* margin-top: -8px; */
}

.bg-grey .grey-notif p {
    font-weight: 500;
    font-size: 14px;
    background-color: #FDE49E;
    padding: 10px;
    border-radius: 10px;
}

.bg-grey .grey-notif a {
    text-decoration: none;
    font-weight: 200;
    font-size: 14px;
}

/* bg-darkgreen */
.bg-darkgreen {
    background-color: #416D19;
    margin-top: 33px;
}

.bg-darkgreen .blockquote-custom-icon {
    background-color: #9BCF53;
    width: 200px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
}

.bg-darkgreen .blockquote-custom-icon h5 {
    margin-top: 8px;
    color: black;
    font-size: 18px;
    font-weight: 700;
}

.bg-darkgreen .sub .row {
    background-color: white;
    border-radius: 30px;
    margin-left: 1px;
    margin-bottom: 3px;
}

.bg-darkgreen .sub p {
    font-size: 14px;
    margin-bottom: 8px;
    margin-top: 6px;
}

.bg-darkgreen .check, .bg-darkgreen .check-none{
    width: 20px;
}

/* bg-brown */
.bg-brown {
    background-color: #481E14;
}

.bg-brown .blockquote-custom-icon {
    background-color: #9B3922;
    width: 200px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
}

.bg-brown .sub .row {
    background-color: white;
    border-radius: 30px;
    margin: 0px 1px;
}

.bg-brown .sub p {
    font-size: 14px;
    margin-bottom: 8px;
    margin-top: 6px;
}

.bg-brown .check, .bg-brown .cross{
    width: 20px;
    /* margin-top: -8px; */
}

.bg-brown .brown-notif p {
    font-weight: 500;
    font-size: 14px;
    background-color: #FDE49E;
    padding: 10px;
    border-radius: 10px;
}

.bg-brown .brown-notif a {
    text-decoration: none;
    font-weight: 200;
    font-size: 14px;
}

/* bg-blue */
.bg-blue {
    background-color: #7AB2B2;
}

.bg-blue .blockquote-custom-icon {
    background-color: #4D869C;
    width: 160px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
}

.bg-blue p {
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    padding: 3px 15px;
    font-weight: 700;
}

.bg-blue .check, .bg-blue .cross{
    width: 20px;
}

.bg-blue .card {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
}

.bg-blue .card p {
    background-color: rgba(255, 255, 255, 0);
}

.bg-blue .card .sub p {
    background-color: white;
    font-weight: 400;
}

.bg-blue .notifikasi p {
    font-weight: 500;
    font-size: 14px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.bg-blue a {
    text-decoration: none;
    font-weight: 200;
}

/* bg-orange */
.bg-orange {
    background-color: #FEB941;
    margin-top: 33px;
}

.bg-orange .blockquote-custom-icon {
    background-color: #DD761C;
    width: 140px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
}

.bg-orange .menu p {
    font-weight: 500;
    font-size: 14px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.bg-orange a {
    text-decoration: none;
    font-weight: 200;
}

.bg-orange p {
    font-weight: 500;
    font-size: 14px;
}

.bg-orange .progress {
    margin-top: 5px;
}

.bg-orange .catatan p {
    font-weight: 500;
    font-size: 14px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.bg-orange a {
    text-decoration: none;
    font-weight: 200;
}

.bg-orange .sub .row {
    background-color: white;
    border-radius: 30px;
    margin-left: 1px;
    margin-bottom: 3px;
}

.bg-orange .sub p {
    font-size: 14px;
    margin-bottom: 8px;
    margin-top: 6px;
}

.bg-orange .check, .bg-orange .check-none{
    width: 20px;
    /* margin-top: -8px; */
}

.bg-orange .persentase h1 {
    background-color: white;
    border-radius: 30px;
    padding: 30px 10px;
    text-align: center;
    width: 100%;
}

/* bg-black */
.bg-black {
    background-color: #000000;
    padding: 10px;
    margin-top: 33px;
}

.bg-black .blockquote-custom-icon {
    background-color: #ffffff;
    width: 140px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
}

.bg-black .blockquote-custom-icon h5 {
    color: red;
}

/* bg-mustard */
.recalling {
    margin-top: -350px;
}

.bg-mustard {
    background-color: #C78C06;
}

.bg-mustard .blockquote-custom-icon {
    background-color: #e7be5f;
    width: 150px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -15px;
    left: 50px;
}

.bg-mustard .blockquote-custom-icon h5 {
    margin-top: 8px;
    color: black;
    font-size: 18px;
    font-weight: 700;
}

.bg-mustard img {
    width: 120px;
}

.bg-mustard h1 {
    font-size: 60px;
    color: white;
}

.bg-mustard h2 {
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.bg-mustard p {
    font-weight: 500;
    font-size: 14px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    height: 80%;
}

.bg-mustard a {
    text-decoration: none;
    font-weight: 200;
}

@media (max-width: 640px) {
    .blockquote-custom {
        padding: 10px;
    }

    .blockquote-custom-icon h5 {
        font-size: 8px;
    }

    .bg-green img {
        width: 30px;
    }

    .bg-green h1 {
        font-size: 20px;
    }

    .bg-green h2 {
        font-size: 10px;
    }

    .bg-green p {
        font-size: 6px;
    }

    .bg-green .blockquote-custom-icon {
        width: 80px;
        right: 20px;
    }

    .bg-blue .blockquote-custom-icon {
        width: 80px;
    }

    .bg-blue p {
        font-size: 6px;
        padding: 1px;
    }

    .bg-blue .check, .bg-blue .cross{
        width: 8px;
        margin-top: -20px;
    }
}
