.blockquote-custom {
    position: relative;
    font-size: 1.1rem;
    padding: 45px;
}

.blockquote-custom-icon h5 {
    margin-top: 8px;
    color: white;
    font-size: 18px;
}

/* bg-green */
.bg-green {
    background-color: #9DDE8B;
}

.bg-green img {
    width: 120px;
}

.bg-green h1 {
    font-size: 60px;
}

.bg-green h2 {
    font-size: 30px;
    font-weight: 700;
}

.bg-green p {
    font-weight: 500;
    font-size: 16px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.bg-green a {
    font-style: italic;
    text-decoration: none;
    font-weight: 200;
}

.bg-green .blockquote-custom-icon {
    background-color: #40A578;
    width: 150px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -15px;
    right: 50px;
}

/* bg-yellow */
.bg-yellow {
    background-color: #ffee00;
}

.bg-yellow .blockquote-custom-icon {
    background-color: #c7ba00;
    width: 200px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -15px;
    left: 50px;
}

.bg-yellow img {
    width: 120px;
}

.bg-yellow h6 {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 0;
}

.bg-yellow a {
    text-decoration: none;
    font-size: 12px;
}

.bg-yellow .card {
    background-color: #7AB2B2;
    padding: 20px;
    border-radius: 30px;
}

.bg-yellow p {
    font-size: 10px;
    background-color:white;
    border-radius: 30px;
    padding: 3px 15px;
}

.bg-yellow h4 {
    font-weight: 500;
    font-size: 12px;
}

.bg-yellow .check, .bg-yellow .cross{
    width: 20px;
    margin-top: -13px;
}

.bg-yellow .status h3 {
    background-color: #1d7533;
    color: white;
    font-size: 14px;
    border-radius: 30px;
    padding: 3px 15px;
    text-align: center;
}

.bg-yellow .yellow-notif p {
    font-weight: 500;
    font-size: 16px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.bg-yellow .yellow-notif a {
    font-style: italic;
    text-decoration: none;
    font-weight: 200;
    font-size: 16px;
}

/* bg-blue */
.bg-blue {
    background-color: #7AB2B2;
}

.bg-blue .blockquote-custom-icon {
    background-color: #4D869C;
    width: 160px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
}

.bg-blue p {
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    padding: 3px 15px;
}

.bg-blue .check{
    width: 20px;
}

@media (max-width: 640px) {
    .blockquote-custom {
        padding: 15px;
    }

    .blockquote-custom-icon h5 {
        font-size: 8px;
    }

    .bg-green img {
        width: 30px;
    }

    .bg-green h1 {
        font-size: 20px;
    }

    .bg-green h2 {
        font-size: 10px;
    }

    .bg-green p {
        font-size: 6px;
    }

    .bg-green .blockquote-custom-icon {
        width: 80px;
        right: 20px;
    }

    .bg-blue .blockquote-custom-icon {
        width: 80px;
    }

    .bg-blue p {
        font-size: 6px;
        padding: 1px;
    }

    .bg-blue .check{
        width: 8px;
        margin-top: -20px;
    }
}
