.row {
    margin: 0;
}

.blockquote-custom {
    position: relative;
    font-size: 1.1rem;
    padding: 30px;
}

.blockquote-custom-icon h5 {
    margin-top: 8px;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

/* bg-green */
.bg-green {
    background-color: #C4DFB4;
}

.bg-green img {
    width: 120px;
}

.bg-green h1 {
    font-size: 60px;
}

.bg-green h2 {
    font-size: 30px;
    font-weight: 700;
}

.bg-green p {
    font-weight: 500;
    font-size: 14px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    height: 80%;
}

.bg-green a {
    text-decoration: none;
    font-weight: 200;
}

.bg-green .blockquote-custom-icon {
    background-color: #6FAC45;
    width: 150px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -15px;
    right: 50px;
}

/* bg-yellow */
.bg-yellow {
    background-color: #FFBD06;
    margin-top: 33px;
}

.bg-yellow .blockquote-custom-icon {
    background-color: #C79302;
    width: 200px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -15px;
    left: 50px;
}

.bg-yellow img {
    width: 120px;
}

.bg-yellow h2 {
    font-size: 30px;
    font-weight: 700;
}

.bg-yellow h6 {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 0;
}

.bg-yellow a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 700
}

.bg-yellow .card {
    background-color: #5D99D7;
    padding: 20px;
    border-radius: 30px;
}

.bg-yellow .card.hadist .gap {
    height: 52px;
}

.bg-yellow .card.quran .gap {
    height: 20px;
}

.bg-yellow p {
    font-size: 10px;
    background-color: white;
    border-radius: 30px;
    padding: 3px 15px;
}

.bg-yellow h4 {
    font-weight: 500;
    font-size: 12px;
}

.bg-yellow .check,
.bg-yellow .cross {
    width: 20px;
    margin-top: -13px;
}

.bg-yellow .status h3 {
    background-color: #528332;
    color: white;
    font-size: 14px;
    border-radius: 30px;
    padding: 3px 15px;
    text-align: center;
}

.bg-yellow .yellow-notif {
    margin-top: -15px;
}

.bg-yellow .yellow-notif p {
    font-weight: 500;
    font-size: 14px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.bg-yellow .yellow-notif a {
    text-decoration: none;
    font-weight: 200;
    font-size: 14px;
}

/* bg-grey */
.bg-grey {
    background-color: #515151;
    margin-top: 33px;
}

.bg-grey .blockquote-custom-icon {
    background-color: #000000;
    width: 200px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
}

.bg-grey .sub .row {
    background-color: white;
    border-radius: 30px;
    margin: 0px 1px;
}

.bg-grey .sub p {
    font-size: 14px;
    margin-bottom: 8px;
    margin-top: 6px;
}

.bg-grey .check,
.bg-grey .cross {
    width: 20px;
    /* margin-top: -8px; */
}

.bg-grey .grey-notif p {
    font-weight: 500;
    font-size: 14px;
    background-color: #FFF1CC;
    padding: 10px;
    border-radius: 10px;
}

.bg-grey .grey-notif a {
    text-decoration: none;
    font-weight: 200;
    font-size: 14px;
}

/* bg-darkgreen */
.bg-darkgreen {
    background-color: #528236;
    margin-top: 33px;
}

.bg-darkgreen .blockquote-custom-icon {
    background-color: #9DCA85;
    width: 200px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
}

.bg-darkgreen .blockquote-custom-icon h5 {
    margin-top: 8px;
    color: black;
    font-size: 18px;
    font-weight: 700;
}

.bg-darkgreen .sub .row {
    background-color: white;
    border-radius: 30px;
    margin: 3px 1px;
}

.bg-darkgreen .sub p {
    font-size: 14px;
    margin-bottom: 8px;
    margin-top: 6px;
}

.bg-darkgreen .check,
.bg-darkgreen .check-none {
    width: 20px;
}

/* bg-brown */
.bg-brown {
    background-color: #833B0B;
}

.bg-brown .blockquote-custom-icon {
    background-color: #C19300;
    width: 200px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
}

.bg-brown .sub .row {
    background-color: white;
    border-radius: 30px;
    margin: 0px 1px;
}

.bg-brown .sub p {
    font-size: 14px;
    margin-bottom: 8px;
    margin-top: 6px;
}

.bg-brown .check,
.bg-brown .cross {
    width: 20px;
    /* margin-top: -8px; */
}

.bg-brown .brown-notif p {
    font-weight: 500;
    font-size: 14px;
    background-color: #FFF1CC;
    padding: 10px;
    border-radius: 10px;
}

.bg-brown .brown-notif a {
    text-decoration: none;
    font-weight: 200;
    font-size: 14px;
}

/* bg-blue */
.bg-blue {
    background-color: #006FC0;
}

.bg-blue .blockquote-custom-icon {
    background-color: #041C5C;
    width: 160px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
}

.bg-blue p {
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    padding: 3px 15px;
    font-weight: 700;
}

.bg-blue .check,
.bg-blue .cross {
    width: 20px;
    margin-top: -8px;
}

.bg-blue .card {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
}

.bg-blue .card p {
    background-color: rgba(255, 255, 255, 0);
    padding: 0px;
}

.bg-blue .card .sub p {
    background-color: white;
    font-weight: 400;
}

.bg-blue .notifikasi p {
    font-weight: 500;
    font-size: 14px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.bg-blue a {
    text-decoration: none;
    font-weight: 200;
}

/* bg-orange */
.bg-orange {
    background-color: #C55B11;
    margin-top: 33px;
}

.bg-orange .blockquote-custom-icon {
    background-color: #825F00;
    width: 140px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
}

.bg-orange .menu p {
    font-weight: 500;
    font-size: 14px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.bg-orange a {
    text-decoration: none;
    font-weight: 200;
}

.bg-orange p {
    font-weight: 500;
    font-size: 14px;
}

.bg-orange .progress {
    margin-top: 5px;
}

.bg-orange .catatan p {
    font-weight: 500;
    font-size: 14px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.bg-orange a {
    text-decoration: none;
    font-weight: 200;
}

.bg-orange .sub .row {
    background-color: white;
    border-radius: 30px;
    margin-left: 1px;
    margin-bottom: 3px;
}

.bg-orange .sub p {
    font-size: 14px;
    margin-bottom: 8px;
    margin-top: 6px;
}

.bg-orange .check,
.bg-orange .check-none {
    width: 20px;
    /* margin-top: -8px; */
}

.bg-orange .persentase h1 {
    background-color: white;
    border-radius: 30px;
    padding: 35px 5px;
    text-align: center;
    width: 100%;
    font-size: 32px;
}

.bg-orange .gizi {
    margin-bottom: -10px;
}

.bg-orange .gizi p {
    color: white;
}

.bg-orange .orange {
    margin-top: 5px;
}

/* bg-black */
.bg-black {
    background-color: #000000;
    padding: 10px;
    margin-top: 33px;
}

.bg-black .blockquote-custom-icon {
    background-color: #ffffff;
    width: 140px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
}

.bg-black .blockquote-custom-icon h5 {
    color: red;
}

.bg-black .youtube {
    margin-top: 20px;
}

/* bg-mustard */
.recalling {
    margin-top: -350px;
}

.bg-mustard {
    background-color: #BE9000;
}

.bg-mustard .blockquote-custom-icon {
    background-color: #A8D18D;
    width: 150px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -15px;
    left: 50px;
}

.bg-mustard .blockquote-custom-icon h5 {
    margin-top: 8px;
    color: black;
    font-size: 18px;
    font-weight: 700;
}

.bg-mustard img {
    width: 120px;
}

.bg-mustard h1 {
    font-size: 60px;
    color: white;
}

.bg-mustard h2 {
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.bg-mustard p {
    font-weight: 500;
    font-size: 14px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    height: 80%;
}

.bg-mustard a {
    text-decoration: none;
    font-weight: 200;
}

/* Mobile styles */
@media (max-width: 767px) {

    .row.mobile-no-gutters>[class^="col-"],
    .row.mobile-no-gutters>[class*=" col-"],
    .row.mobile-no-gutters>[class^="col"],
    .row.mobile-no-gutters>[class*=" col"] {
        padding-right: 3px;
        padding-left: 3px;
    }

    .row.mobile-no-gutters.hadist>[class^="col-4"] {
        padding-left: 10px;
    }

    .row.mobile-no-gutters.hadist>[class^="col-8"] {
        padding-right: 20px;
    }

    .row.mobile-no-gutters.quran-doa {
        margin-left: -3px;
    }

    .row.mobile-no-gutters.pretem>[class^="col-6 grey"] {
        padding-left: 15px;
    }

    .row.mobile-no-gutters.pretem>[class^="col-6 brown"] {
        padding-right: 15px;
    }

    .row.mobile-no-gutters.orange>[class^="col-7"] {
        padding-left: 10px;
    }

    .row.mobile-no-gutters.orange>[class^="col-5"] {
        padding-right: 10px;
    }

    .row.mobile-no-gutters.blue {
        padding-left: 5px;
        padding-right: 5px;
        margin-top: -10px;
        margin-bottom: -3px;
    }

    .row.mobile-no-gutters.blue.sub {
        padding-left: 20px;
        padding-right: 20px;
    }

    .row.mobile-no-gutters.yellow {
        padding-left: 12px;
        padding-right: 12px;
        margin-top: -10px;
    }

    .blockquote-custom {
        font-size: 1rem;
        padding: 30px 10px 10px 10px;
    }

    .blockquote-custom-icon h5 {
        font-size: 10px;
    }

    .pretem {
        margin-top: -15px;
    }

    /* bg-green */
    .bg-green img {
        width: 50px;
    }

    .bg-green h1 {
        font-size: 30px;
    }

    .bg-green h2 {
        font-size: 18px;
    }

    .bg-green p {
        font-size: 8px;
        padding: 5px 5px 0px 5px;
        height: 75%;
    }

    .bg-green .blockquote-custom-icon {
        width: 100px;
        top: -10px;
        right: 20px;
    }

    /* bg-yellow */
    .bg-yellow {
        margin-top: 10px;
    }

    .bg-yellow .blockquote-custom-icon {
        width: 160px;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
    }

    .bg-yellow img {
        width: 50px;
    }

    .bg-yellow h2 {
        font-size: 18px;
    }

    .bg-yellow h6 {
        font-size: 8px;
        margin-bottom: -18px;
    }

    .bg-yellow a {
        font-size: 5px;
    }

    .bg-yellow .card {
        padding: 0px;
        border-radius: 5px;
    }

    .bg-yellow p {
        font-size: 8px;
        padding: 1px;
        margin: 4px 0px 5px 8px;
    }

    .bg-yellow h4 {
        font-size: 10px;
    }

    .bg-yellow .check,
    .bg-yellow .cross {
        width: 15px;
        margin-top: -12px;
    }

    .bg-yellow .status h3 {
        font-size: 8px;
        padding: 2px 10px;
    }

    .bg-yellow .yellow-notif {
        margin-top: -30px;
    }

    .bg-yellow .yellow-notif p {
        font-size: 8px;
        padding: 8px;
        border-radius: 8px;
        margin-left: 0px;
    }

    .bg-yellow .yellow-notif a {
        font-size: 8px;
    }

    /* bg-grey */
    .bg-grey {
        margin-top: 10px;
    }

    .bg-grey .blockquote-custom-icon {
        width: 80px;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
    }

    .bg-grey .sub .row {
        margin: 0px;
        border-radius: 20px;
        height: 20px;
    }

    .bg-grey .sub p {
        font-size: 8px;
        margin: 4px 0px 5px 8px;
    }

    .bg-grey .check,
    .bg-grey .cross {
        width: 15px;
        margin-top: -15px;
    }

    .bg-grey .grey-notif p {
        font-size: 8px;
        padding: 8px;
        border-radius: 8px;
        margin-left: 0px;
    }

    .bg-grey .grey-notif a {
        font-size: 8px;
    }

    /* bg-darkgreen */
    .bg-darkgreen {
        margin-top: 10px;
    }

    .bg-darkgreen .blockquote-custom-icon {
        width: 80px;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
    }

    .bg-darkgreen .blockquote-custom-icon h5 {
        font-size: 10px;
    }

    .bg-darkgreen .sub .row {
        margin: 0px 0px 2px 0px;
        border-radius: 20px;
        height: 20px;
    }

    .bg-darkgreen .sub p {
        font-size: 8px;
        margin: 4px 0px 5px 8px;
    }

    .bg-darkgreen .check,
    .bg-darkgreen .check-none {
        width: 15px;
        margin-top: -15px;
    }

    /* bg-brown */
    .bg-brown .blockquote-custom-icon {
        width: 80px;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
    }

    .bg-brown .sub .row {
        margin: 0px;
        border-radius: 20px;
        height: 20px;
    }

    .bg-brown .sub p {
        font-size: 8px;
        margin: 4px 0px 5px 8px;
    }

    .bg-brown .check,
    .bg-brown .cross {
        width: 15px;
        margin-top: -15px;
    }

    .bg-brown .brown-notif p {
        font-size: 8px;
        padding: 8px;
        border-radius: 8px;
        margin-left: 0px;
    }

    .bg-brown .brown-notif a {
        font-size: 8px;
    }

    /* bg-blue */
    .bg-blue .blockquote-custom-icon {
        width: 100px;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
    }

    .bg-blue p {
        font-size: 8px;
        padding: 1px;
        margin: 4px 0px 5px 8px;
    }

    .bg-blue .check,
    .bg-blue .cross {
        width: 15px;
        margin-top: -12px;
    }

    .bg-blue .card {
        border-radius: 20px;
    }

    .bg-blue .card p {
        font-size: 8px;
    }

    .bg-blue .notifikasi p {
        font-size: 8px;
        padding: 8px;
        border-radius: 8px;
        margin-top: -25px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .bg-blue a {
        font-weight: 300;
    }

    /* bg-orange */
    .bg-orange {
        margin-top: 10px;
    }

    .bg-orange .blockquote-custom-icon {
        width: 80px;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
    }

    .bg-orange .menu p,
    .bg-orange .catatan p {
        font-size: 8px;
        padding: 8px;
    }

    .bg-orange .menu,
    .bg-orange .catatan {
        margin-top: -10px;
    }

    .bg-orange p {
        font-size: 8px;
    }

    .bg-orange .sub .row {
        margin: 0px 0px 2px 0px;
        border-radius: 20px;
        height: 20px;
    }

    .bg-orange .sub p {
        font-size: 8px;
        margin: 4px 0px 5px 10px;
    }

    .bg-orange .check,
    .bg-orange .check-none {
        width: 15px;
        margin-top: -15px;
    }

    .bg-orange .persentase h1 {
        padding: 23px 1px;
        font-size: 16px;
        border-radius: 10px;
    }

    .bg-orange .gizi {
        margin-bottom: -15px;
    }

    .bg-orange .gizi .progress {
        margin-top: 1px;
        height: 10px;
        width: 90%;
        margin-left: 5px;
    }

    /* bg-black */
    .bg-black {
        margin-top: 10px;
    }

    .bg-black .blockquote-custom-icon {
        width: 80px;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
    }

    .bg-black .blockquote-custom-icon h5 {
        font-size: 10px;
    }

    .bg-black .youtube {
        margin-top: -20px;
    }

    .bg-black .youtube iframe {
        width: 100%;
        height: auto;
    }

    /* bg-mustard */
    .recalling {
        margin-top: -235px;
    }

    .bg-mustard .blockquote-custom-icon {
        width: 100px;
        top: -10px;
        left: 20px;
    }

    .bg-mustard .blockquote-custom-icon h5 {
        margin-top: 8px;
        font-size: 10px;
    }

    .bg-mustard img {
        width: 50px;
    }

    .bg-mustard h1 {
        font-size: 25px;
    }

    .bg-mustard h2 {
        font-size: 18px;
    }

    .bg-mustard p {
        font-size: 8px;
        padding: 5px 5px 0px 5px;
        height: 75%;
    }

    .bg-mustard .emot {
        margin-left: -20px;
    }
}
